body {
  font-family: "Lato", sans-serif;
  background-color: #f9f9f9;
}
h1, h2, h3 {
  color: #0c233f; /* Yale Blue */
}
a {
  color: #286dc0; /* Light Yale Blue */
}
.panel {
  border: 2px solid #286dc0;
  border-radius: 10px;
}
.btn {
  background-color: #0c233f;
  color: white;
}
.btn:hover {
  background-color: #286dc0;
}
.quarto-title-block .quarto-title-banner {
  background-image: url(images/logo.png);
  background-size: 200px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}
.title {
  font-weight: bold;
  color: white !important;
  font-family: Arial;
  font-variant: normal;
}
.plot {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
select {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
}